<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoVue - Nova Tarefa</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="style.css">

    <!-- Fontawesome 6 CND-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="pink lighten-1">
        <div class="nav-wrapper">
          <a href="./index.html">
            <i class="fa-solid fa-backward"></i> <span class="backBtn">Voltar</span> 
          </a>
          <span class="title">Nova Tarefa</span>
        </div>
      </nav>
        
        <div class="containerTask">
            <p>
                <!-- <label for="title">Titulo:</label><br> -->
                <input type="text" name="title" id="title" placeholder="Insira o titulo da tarefa" v-model="task.title">
            
            </p>
            
            <p>
                <label for="due">Vencimento:</label><br>
                <input type="date" name="due" id="due" placeholder="Vencimento da tarefa" v-model="task.dueTo">
            
            </p>
        
            <p>
                <label for="projectInput">Project:</label><br>
                <select name="projectInput" v-model="task.project">
                    <option>Estudos</option>
                    <option>Tabalho</option>
                    <option>Pessoal</option>
                </select>
                    
            </p>
        
            <p>
                <input type="text" name="user" id="user" placeholder="Insira seu nome de usuário" v-model="task.user">
            </p>
        
            <button type="submit" @click="postTasks" class="sendBtn btn">Salvar</button>
        
        </div>

        <footer class="page-footer pink lighten-1">
          <div class="footer-copyright">
            <div class="container">© 2022 Frontend</div>
          </div>
        </footer>
    
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./todo.js"></script>
</body>


